.col-4 {
  grid-template-columns: auto auto auto;
  padding: 20px;
  grid-gap: 20px;
}

.one-four {
  grid-column: 1/3;
}

h4 {
  margin: 0;
  padding: 15px;
}

.cart-items {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 2/5;
  border: 1px solid rgba(0, 0, 0, 0.3);
  grid-row-gap: 15px;
  margin-bottom: 20px;
  padding: 15px;

  .cart-details {
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-column: 2/5;
  }

  .cart-img {
    grid-column: 1;
    background-color: #fff;

    img {
      max-width: 150px;
      max-height: 150px;
    }
  }

  .btn-group {
    white-space: nowrap;
  }

  input {
    width: 40px;
    padding: 5px;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .btn-rounded {
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 18px;
  }

  .btn-remove {
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: 600;
  }

}

.cart-summary-container {
  grid-column: 3/4;
  padding-bottom: 20px;

  .summary {
    border: 1px solid rgba(0, 0, 0, 0.3);

    .summary-body {
      display: grid;
      justify-content: space-between;
      grid-template-columns: auto auto auto;
      grid-gap: 20px;
    }

    h5 {
      color: grey;
      margin-bottom: 15px;
      padding: 0px 15px;
    }

    hr {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .hr-footer {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

  }
}

@media(max-width: 768px) {
  .col-4 {
    display: block;
  }
  .cart-items .cart-img img {
    max-width: 80px;
    max-height: 80px;
}
  .cart-items .cart-details{
    display: block;
  }
}
