nav{
    height: 56px;
    background-color:var(--theme-color);
    color: #f0f0f0;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
}

.brand .fa{
    font-size: 2rem;
    color: var(--orange-color);
}