
.btn-sort {
  background: transparent;
  border: transparent;
  outline: transparent;
  cursor: pointer;
  font-weight: 600;
  color: #878787;
  border-bottom: 1.5px solid transparent
}

button.active {
  color: var(--theme-color);
  border-bottom: 1.5px solid var(--theme-color);
}

h4 {
  margin: 0;
  margin-right: 20px;
}

.show-overlay {
  .btn-sort {
    display: block;
    margin-bottom: 5px;
  }
}
